@CHARSET "ISO-8859-1";

#body{
	width: 1200 px;
	margin-left: auto;
	margin-right: auto;
	/*height: 700 px;*/
	border: 1px solid black;
	padding-top: 15px;
}

/*	FILTERS	*/

#export-pdf{
	width: 1000 px;
	height: 30 px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

#import-books-img{
	float: left;
}

#add-book-img{
	float: left;
	margin-left: 10px;
}

#export-pdf-img{
	float: right;
}

#filters{
	/*margin-top: 50 px;*/
	margin-bottom: 5 px; 
	margin-left: auto;
	margin-right: auto;
	width: 1000 px;
	height: 30 px;
	/*border: 1px solid black;*/
	
	
}

#filters>div{
	float: left;
	/*border: 1px solid black;*/
	border-right: 1px solid black;
	width: 199 px;
	height: 30 px;
}

#filters>div>img{
	float: right;
	margin-right: 5px;
}

#filter-titlu{
	
}

#filter-autori{
	
}

#filter-an{
	
}

#filter-editura{
	
}

#filter-disponibil{
	
}

/*	TABEL CARTI */

#divTableCarti{
	height: 545 px;
	width: 1000 px;
	margin-left: auto;
	margin-right: auto;
}

#tabelCarti{
	width: 1000 px;
}

#main-head-titlu{
	
}

#main-head-autori{
	
}

#main-head-an{
	width: 85px;
}

#main-head-editura{
	
}

#main-head-disponibil{
	width: 80px;	
}


/*	NEXT / PREVIOUS PAGE */
#controll{
	width: 1000 px;
	height: 30 px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5 px;
	/*border: 1px solid black;*/
}

#controll>div{
	/*border: 1px solid black;*/
	height: 30 px;
}

#controll>#previous-page>img{
	float:left;
}

#controll>#next-page>img{
	float:right;
}

#previous-page{
	width: 60px;
	float: left;
}

#next-page{
	width: 60px;
	float:right;	
}

#pages{
	text-align: center;
	float: left;
	width: 874px;
}

.eticheta-add-carte{
	width: 220px;
	float: left;
}

.input-add-carte{
	float: left;
	width: 350px;
}

.line-add-carte{
	width: 580px;
	height: 32px;
}