@CHARSET "ISO-8859-1";

#extra{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#user-info{
	margin-bottom: 15px;
}

#user-info{
	height: 32px;
}

#user-info>img{
	float:left;
}

#extra>hr{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#select-user{
	margin-left: 55px;
	padding-top: 11px;
}

#user-status{
	margin-bottom: 5px;	
	border: 1px solid black;
	height: 325px;
	width: 1000px;
}

#carti-imprumutate{
	width: 597px;
	height: 100%;
	float: left;	
	padding-left: 5px;
}

#rezervari{
	width: 370px;
	height: 100%;
	float: right;
}

#header-imprumut{
	width: 200px;
	height: 30px;
	padding-top: 10px;
	padding-left: 10px;
}

#header-rezervari{
	width: 200px;
	height: 30px;
	padding-top: 10px;	
	padding-left: 10px;
}

.shead-titlu{
	width: 200px;
}

.shead-autori{
	width: 200px;
}

#user-drop-down{
	width: 250px;
	float: left;
}

.user-menu-img{
	float:left;
	margin-left:5px;
	cursor: pointer;
}

.admin-font{
	font-weight: bold;
	color: red;
}

.bibliotecar-font{
	font-style:italic;
	color: blue;
}

#add-user{
	width: 24px;
}