@CHARSET "ISO-8859-1";

div {
	/*border: 1px solid black;*/ 
}

#wrapper{
	margin-left: auto;
	margin-right: auto;
}

.clearFloat{
	clear: both;
	display: none;
}

body{
	margin: 0px;
	margin-top: 8px;
}

table{
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
}

th {
	background-color: #ddddff;	
}

tr {
	height: 46px;
}